/* button */

.signUp .button {
  border: none;
}

.signUp .button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: all 1s;
}

.signUp .botton:hover::after {
  width: 100%;
}

.population,
.signUp .button {
  font-weight: 400;
  line-height: 20px;
  transition: 0.5s;
}
.signUp .button a:hover {
  color: #111049;
}
.signUp .button a {
  color: #111049;
  font-weight: 600;
}

/* 배너 */

.banner01 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
      to bottom,
      rgba(17, 16, 73, 0.1) 10%,
      rgba(17, 16, 73, 0.5) 30%,
      rgba(17, 16, 73, 0.85) 70%,
      rgba(17, 16, 73, 1) 95%
    ),
    url(../image/image_sub03/banner01.jpg);
}
.banner01 h1 {
  padding: 210px 160px 120px 0;
  text-align: right;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 400;
}

/* 정렬기준 상단바 */

.alignbar {
  width: 80%;
  margin: 0 auto;
  background-color: #050437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  font-family: "Orbitron", sans-serif;
  margin-top: 120px;
}

.game,
.date,
.console {
  display: flex;
  justify-content: right;
}
.alignbar img {
  width: 20px;
  height: 15px;
  padding: 5px 20px 0px 20px;
}
.game {
  padding: 20px 0;
  width: 50%;
}
.date {
  width: 30%;
}

/* 토너먼트 리스트 */

.tournament_wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Orbitron", sans-serif;
}

.match_list {
  position: relative;
  border-top: 5px solid #111049;
}

.match_list::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: all 1s;
}

.match_list:hover::after {
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(17, 16, 73, 1) 20%,
    rgba(255, 136, 255, 0.3) 75%,
    rgba(80, 75, 255, 0.7) 95%
  );
}

.match_list:hover .population {
  display: none;
}

.list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.list.img {
  width: 100px;
  height: 100px;
}
.list.title {
  width: 40%;
}
.list.option {
  display: flex;
}
.list.date {
  display: block;
  width: 10%;
}
.list.signUp {
  width: 15%;
  text-align: center;
  color: #ff88ff;
}

.consoletype,
.vs,
.prizes {
  align-content: center;
  text-align: center;
  margin: 0 15px;
}

.population {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .banner01 {
    background-position-x: 30%;
  }
  .alignbar {
    width: 90%;
    margin-top: 60px;
  }

  .alignbar img {
    width: 15px;
    height: 12px;
    padding: 5px 25px 0px 5px;
  }
  .game {
    padding: 20px 0;
    width: 50%;
  }
  .date {
    width: 30%;
  }
  .list-wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
    padding: 15px;
    border-radius: 10px;
  }
  .match_list {
    background: #050437;
  }
  .fc_fff {
    color: #fff;
    font-size: 14px;
  }
  .list.img {
    width: 40%;
    margin-bottom: 20px;
  }
  .list.title {
    width: 60%;
    font-size: 14px;
    line-height: 1.2;
  }
  .list.date {
    width: 50%;
    text-align: center;
  }
  .list.signUp {
    width: 50%;
  }
  .list.signUp a {
    color: #ff88ff;
  }
  .consoletype,
  .vs,
  .prizes {
    display: none;
  }
  .population {
    margin: 0;
    color: #c2c2ff;
  }
  .match_list:hover .population {
    display: block;
  }
}
